.testimonials .item .thumb {
   
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.testimonials .item .text span.author {
  color: #B1B1B1;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.testimonials .testimonial-carousel .item:first-child{
  margin-top: 40px;
}