.about .intro ul.info {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.about .intro ul.info li {
  
  padding: 7px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #0C0C0C;
  font-size: 14px;
}



.about .intro ul.info li:first-child {
  padding-top: 0;
}

.about .intro p {
  margin: 0;
}